/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  transition: 0.8s ease;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
