target/
.idea
src/main/resources/gallery
src/main/resources/application.properties

gallery-front-end/node_modules
gallery-front-end/e2e

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace