.idea
server/target/
server/.idea
server/src/main/resources/gallery

client/node_modules
client/node
client/e2e
client/target/
client/dist/

# IDEs and editors
/server/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/server/src/main/resources/application.yaml
