management.security.enabled=

spring.jpa.hibernate.ddl-auto=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name = com.mysql.jdbc.Driver

gallery.resource.directory = C:/training/photogallery/src/main/resources/
gallery.prefix = gallery/
gallery.thumbnail.prefix = _thumbnail
gallery.file.format = jpg
