<mat-card>
  <mat-card-title>Edit photo</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select matInput placeholder="Album" formControlName="album">
            <mat-option *ngFor="let album of albums" [value]="album.name">
              {{album.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-slide-toggle formControlName="isVisible" color="primary">Is photo visible</mat-slide-toggle>
      </p>
      <p>
        <mat-slide-toggle formControlName="isPrivate" color="primary">Is photo private</mat-slide-toggle>
      </p>
      <p>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker" formControlName="originalDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSeconds]="true"
                                   [stepSecond]="1" [disableMinute]="true">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </p>
      <div class="image-container">
        <img *ngIf="photo" src="{{photo.thumbnailUrl}}">
      </div>
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
      <div class="button">
        <button type="submit" [disabled]="!form.valid || !form.dirty" mat-button>Save</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
