<mat-toolbar color="primary">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  admin module
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="../gallery">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button (click)="logout()" *ngIf="isAuthenticated()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #drawer *ngIf="isExpanded" mode="side" opened="true" role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='./public-photos' routerLinkActive="is-active"  [routerLinkActiveOptions]="{ exact: true }">Public photos</a>
      <a mat-list-item routerLink='./private-photos' routerLinkActive="is-active">Private photos</a>
      <a mat-list-item routerLink='./albums' routerLinkActive="is-active">Albums</a>
      <a mat-list-item routerLink='./countries' routerLinkActive="is-active">Countries</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

