<mat-toolbar class="header" color="primary">
  <div class="navigation-bar" *ngIf="isAuthenticated()">
    <button mat-button routerLink="/gallery/public" routerLinkActive="mat-accent">
      Public
    </button>
    <button mat-button routerLink="/gallery/private" routerLinkActive="mat-accent">
      Private
    </button>
  </div>
  <span class="example-spacer"></span>
  <button mat-button routerLink="login" *ngIf="!isAuthenticated() && router.url != '/gallery/login'">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-button routerLink="/admin" *ngIf="isAuthenticated()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button *ngIf="router.url == '/gallery/login'" routerLink="../gallery">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button (click)="logout()" *ngIf="isAuthenticated()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
